/* container start */
.my-container{
    height: 100vh;
   
    display: flex;
    flex-direction: column;

}


.main-out{
    display: flex;
    height: 90%;
    
}
.my-nav{
    max-width: 100%;
    height: 6vh;  
}

.my-side-bar{ 
    
    background: url(../img/sidebar-bg.png) rgb(1, 2, 66);
}

.my-hbar{
   height: 12rem;
  
    
    
    

}




/* container fine */
.ovr{
    max-height: 94vh;
    
    overflow: scroll;
}
.pic{
    width: 2rem;
    background-color: white;
}

.zangetsu{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}




.container-fluid li{
    margin: 0.3rem;
}

.aka{
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 999;
}
/* TABLE */



