/* container start */
.my-container{
    height: 100vh;   
    display: flex;
    flex-direction: column;
}
.my-nav{
    max-width: 100%;
    height: 5rem;  
}
.my-side-bar{ 
    background: url(../img/sidebar-bg.png) rgb(1, 1, 19);
    background-position: top;
    max-height: calc(100vh - 5rem);
}
.my-hbar{
   min-height: 12rem;    
}
.my-side-bar a{
    text-decoration: none;
    color: white;   
}
/* container end */
.my-scrolling{
    max-height: calc(100vh - 5rem);
    overflow: scroll;
}
.pic{
    width: 2rem;
    background-color: transparent;
    border-radius: 50%;
}
.my-br{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}
.container-fluid li{
    margin: 0.3rem;
}
/*  EFFECT */
.over:hover{
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 3px; 
}
.my-offcan{
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}